# Make GitHub linguist ignore some files / directories as vendored to avoid statistics reflecting 3rd party code
#   Font awsome
css/font_awsome_all.css -linguist-vendored
webfonts/** linguist-vendored
